<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SQL online</title>
    @RenderSection("css", required: false)
</head>
<body>
    @RenderBody()
    @RenderSection("js", required: false)
</body>
</html>