@page
@{
    Layout = "~/Pages/Shared/_Layout_Edit.cshtml";
}
<div style="overflow-x:hidden">
    <form id="edit-form">
        <div class="layui-form" style="padding: 20px 30px 0 0;">
            <div class="layui-form-item">
                <label class="layui-form-label">文件地址</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" id="database" autocomplete="off" onchange="change()" onpropertychange="change()">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">连接字符串</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" id="connectionString" readonly></textarea>
                </div>
            </div>

            <div class="layui-form-item" style="text-align:center;padding-left: 30px;">
                <button type="button" class="layui-btn layui-btn-primary" onclick="closeWindow();"> &nbsp;&nbsp; 关 闭 &nbsp;&nbsp; </button>
            </div>
        </div>

    </form>
</div>
@section js{
    <script>
        function change() {
            var connStr = "Data Source=" + $("#database").val()+";";
            $("#connectionString").val(connStr);
        }

    </script>
}