html, body { height: 100%; background-color: #fff; }
th, td { white-space: nowrap; }
/*基本样式 - 排版*/
.text-left { text-align: left !important; }

.text-right { text-align: right !important; }

.text-center { text-align: center !important; }

.muted { color: #999999; }

a.muted:hover,
a.muted:focus { color: #808080; }

.text-warning { color: #c09853; }

a.text-warning:hover,
a.text-warning:focus { color: #a47e3c; }

.text-error { color: #b94a48; }

a.text-error:hover,
a.text-error:focus { color: #953b39; }

.text-info { color: #3a87ad; }

a.text-info:hover,
a.text-info:focus { color: #2d6987; }

.text-success { color: #468847; }

a.text-success:hover,
a.text-success:focus { color: #356635; }

.layui-table tbody tr.success > td, .layui-table thead tr.success > th { background-color: #dff0d8; }
.layui-table tbody tr.error > td, .layui-table thead tr.error > th { background-color: #f2dede; }
.layui-table tbody tr.warning > td, .layui-table thead tr.warning > th { background-color: #fcf8e3; }
.layui-table tbody tr.info > td, .layui-table thead tr.info > th { background-color: #d9edf7; }
.layui-table tbody tr.success:hover > td, .layui-table thead tr.success:hover > th { background-color: #d0e9c6; }
.layui-table tbody tr.error:hover > td, .layui-table thead tr.error:hover > th { background-color: #ebcccc; }
.layui-table tbody tr.warning:hover > td, .layui-table thead tr.warning:hover > th { background-color: #faf2cc; }
.layui-table tbody tr.info:hover > td, .layui-table thead tr.info:hover > th { background-color: #c4e3f3; }


.layui-tab-title { padding-left: 20px; }
.layui-tab-content.index { padding: 5px; position: absolute; left: 0; right: 0; bottom: 0; top: 55px; }
.layui-tab-item { height: 100%; }
.layui-tab-title .layui-this { color: #009688; }
.header .layui-nav { position: absolute; left: 185px; top: 0; padding: 0; background: none; }
.header .logo img { padding-top: 8px; padding-left: 8px; padding-bottom: 8px; vertical-align: middle; }
.layui-tab-more + .layui-tab-content.index { top: 90px; }

.header .useroption { position: absolute; right: 10px; top: 20px; padding: 0; color: #fff; }
    .header .useroption a { color: #1E9FFF; }
        .header .useroption a:hover { color: #01AAED; }

.layui-upload-img { width: 92px; height: 92px; margin: 0 10px 10px 0; }
.layui-table { margin: 0; }
.data-header { margin-bottom: 10px; line-height: 34px; padding: 0 5px; }
    .data-header .search { }
        .data-header .search .txtSearch, .data-header .search select { border: 1px solid #aaa; height: 30px; line-height: 30px; padding: 0 5px; font-size: 12px; }
.gridTable th { background-color: #ebebeb; font-weight: bold; }
.layui-tab-title .layui-this:after { border-top: 2px solid #e36209; }
.layui-table th { background-color: #f2f2f2; }
.layui-table.details tbody tr:hover { background-color: #fff !important }



body.details { background-color: #fff; }
/*.layui-tab-content { background: url(/_/img/loading.gif) no-repeat center center; }*/

/*筛选条件栏样式*/
.search-v2 { padding: 5px; font-size: 12px; display: inline-table; }
    .search-v2 .filter { float: left; margin-right: 20px; height: 26px; line-height: 26px; padding-bottom: 5px; }
        .search-v2 .filter label { padding-right: 5px; color: #403e3e; }
    .search-v2 .text { height: 24px; border: 1px solid #e1e3e4; border-radius: 2px; padding: 0 5px; line-height: 24px; width: 120px; margin-left: 6px; }
        .search-v2 .text.laydate { width: 136px; }
    .search-v2 select { height: 26px; border: 1px solid #e1e3e4; border-radius: 2px; padding: 0 5px; line-height: 24px; margin-left: 6px; }


.layui-tab { margin: 5px 0; }
.layui-tab-content.index { top: 35px; }
.layui-tab-title li { line-height: 30px; padding: 0 10px; }
.layui-tab-title { height: 30px; }
    .layui-tab-title .layui-this::after { height: 31px; }