
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_List_Async.cshtml";
    LayuiTableColumns columns = new LayuiTableColumns();
    columns.Add(new LayuiTableColumn { Field = "name", Title = "名称", Width = "160" });
    columns.Add(new LayuiTableColumn { Field = "sqlServerType", Title = "数据库类型", Width = "160" });
    columns.Add(new LayuiTableColumn { Field = "connectionString", Title = "连接字符串", MinWidth = 600 });
    columns.Add(new LayuiTableColumn { Field = "sort", Title = "排序", Width = "80", Align = LayuiAlign.center });
    columns.Add(new LayuiTableColumn { Field = "addingTime", Title = "添加日期", Width = "160", Align = LayuiAlign.center });
    columns.Add(new LayuiTableColumn { Field = "op", Title = "操作", Width = "140", Align = LayuiAlign.center, Templet = "function(d) { return Tpl('#operation', d); }" });

    var cols = columns.Where(q => q.IsHidden == false).OrderBy(q => q.ColumnIndex).ToList();
}
<div class="data-header">
    <form method="get" id="searchForm">
        <div class="filter">
            @if (Permission.Add) {
                <a class="layui-btn layui-btn-xs layui-btn-normal openwin" href="/Admin/Database/Addinfo?w=750" title="添加数据库信息">添加数据库信息</a>
            }
            <button class="layui-btn layui-btn-xs layui-btn-normal search-btn" data-type="reload">&nbsp; 刷新 &nbsp; </button>
        </div>
    </form>
</div>
<div class="data-content">
    <table class="layui-hide gridTable" id="dataList" lay-filter="dataList"></table>
</div>

<script type="text/template" id="operation">
    @if (Permission.Edit) {
        <a href="/Admin/Database/editinfo?id={{= it.id }}&w=750" title="编辑数据库信息" class="layui-btn layui-btn-xs layui-btn-normal openwin">编辑</a>
    }
    @if (Permission.Delete) {
        <a href="javascript:;" onclick="deleteItem({{= it.id }},'{{= it.name }}')" class="layui-btn layui-btn-xs layui-btn-normal">删除</a>
    }
</script>

<script>
    (function () {
        //加载列表的后端 url
        var getListUrl = '/Admin/Database/GetPageList';
        var tableOptions = {
            url: getListUrl, //请求地址
            size: 'sm',
            even: true,
            method: 'POST',
            cols: [@(cols.ToJson())],
            page: true, //是否分页
            limit: 30,
            limits: [10, 20, 30, 50, 100],
            height: 'full-' + ($('.data-header').outerHeight(true) + 10),
            done: function () { Init(); CloseLoading(); },
            request: { pageName: 'page', limitName: 'pageSize' },
            text: { none: '<span style="color:red;">暂无记录</span>' }
        };
        Init();

        layui.use(['table', 'form', 'laypage', 'layer'], function () {//layui 模块引用，根据需要自行修改
            var $ = layui.jquery
                , laypage = layui.laypage
                , layer = layui.layer
                , form = layui.form
                , table = layui.table;

            //表初始化
            ShowLoading();
            table.init('dataList', tableOptions);
            //监听工具条
            table.on("tool(dataList)", function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                var tr = obj.tr;
            });
            //监听排序
            table.on('sort(dataList)', function (obj) {
                table.reload("dataList", {
                    initSort: obj
                    , where: { //请求参数
                        field: obj.field //排序字段
                        , order: obj.type //排序方式
                    }
                    , height: 'full-' + ($('.data-header').outerHeight(true) + 10)
                    , page: { curr: 1 }
                });
            });

            $('.search-btn').click(function (event) {
                ShowLoading();
                event && event.stopPropagation();
                table.reload("dataList", {
                    where: {

                    }
                    , height: 'full-' + ($('.data-header').outerHeight(true) + 10)
                    , page: { curr: 1 }
                });
                return false;
            });
        });
    })();
</script>
<script>
    function deleteItem(id, name) {
        TopShowConfirm("删除【" + name + "】吗？", function () {
            PostUrl("/Admin/Database/DeleteInfo", { id: id }, function (r) {
                layui.use(['table', 'form', 'laypage', 'layer'], function () {
                    var table = layui.table;
                    table.reload("dataList");
                });
            });
        });
    }
</script>
