
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout_Detail.cshtml";
    List<DbAdminGroup> groups = (List<DbAdminGroup>)ViewData["groups"];

}
@section js{
    <script>
        $(function () {
            $("#edit-form").validate({
                rules: {
                    name: "username",
                    trueName: "required",
                    password: {
                        required: true,
                        minlength: 3,
                        maxlength: 20,
                    },
                    phone: "phone",
                    email: "email"
                },
            });
        });

        function save(obj) {
            if ($("#txt_password").val() != $("#txt_password2").val()) {
                layer.alert("密码不一致");
                return;
            }

            // if ($("#edit-form").valid() == false) return;

            $(obj).prop("disabled", true);
            PostUrl("", $("#edit-form").serialize(), function (data) {
                if (data.code == @SuccessCode) {
                    CloseWindowAndReload();
                } else {
                    layer.alert(data.msg);
                }
                $(obj).prop("disabled", false);
            });
        }
    </script>
}

    <form class="layui-form" id="edit-form" action="" style="margin:15px;">
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <select name="adminGroupID" lay-filter="aihao">
                    @groups.ToOption(q => q.Name, q => q.Id.ToString())
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input name="name" id="txt_name" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input" type="text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">真实姓名</label>
            <div class="layui-input-block">
                <input name="trueName" id="txt_trueName" lay-verify="title" autocomplete="off" placeholder="请输入真实姓名" class="layui-input" type="text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input name="password" id="txt_password" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input" type="password">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input name="password" id="txt_password2" lay-verify="title" autocomplete="off" placeholder="请输入密码" class="layui-input" type="password">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" onclick="save(this);">提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
